{% extends 'base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}

<div class="container">
    <h1>Tasks</h1>
        <table class="table table-dark">
            <tr>
                    <td>ID</td>
                    <td>User</td>
                    <td>Name</td>
                    <td>Creation time</td>
                    <td>Priority</td>
                    <td>Done</td>
            </tr>
            {% for task in object_list %}
            <tr>
                <td>{{task.id}}</td>
                <td>{{task.user}}</td>
                <td>{{task.name}}</td>
                <td>{{task.created}}</td>
                <td><span class="{{task.priority.color}}">{{task.priority}}</span></td>
                <td>{% bootstrap_icon task.tick %}</td>
                {% if not task.done %}
                <td><a href="{% url 'task_complete' pk_event=event_id pk=task.id %}" />
                    <button id="done-btn" class="btn btn-success" />{% bootstrap_icon "check" %} Completed</button>
                </a></td>
                {% else %}
                <td><a href="{% url 'task_complete' pk_event=event_id pk=task.id %}" />
                    <button id="undone-btn" class="btn btn-warning" />{% bootstrap_icon "remove" %} Unconplete</button>
                </a></td>
                {% endif %}
                <td><a href="{% url 'task_update' pk_event=event_id pk=task.id %}" />
                    <button id="update-btn" class="btn btn-primary" />{% bootstrap_icon "pencil" %} Update</button>
                </a></td>
                <td><a href="{% url 'task_delete' pk_event=event_id pk=task.id %}" />
                    <button id="delete-btn" class="btn btn-danger" />{% bootstrap_icon 'trash' %} Delete</button>
                </a></td>
            </tr>
        {% endfor %}
        </table>
        {% include "_pagination.html" %}
        <p>
            <a href="{% url 'task_new' pk=event_id %}">
                <button id="create-btn" class="btn btn-primary" />{% bootstrap_icon "apple" %} Create</button>
            </a>
        </p>
</div>
{% endblock %}