{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?{{ page_obj.previous_page_number.querystring }}" class="page-item active">&lsaquo;&lsaquo; {% trans "previous" %}</a>
    {% else %}
        <span class="page-item disabled">&lsaquo;&lsaquo; {% trans "previous" %}</span>
    {% endif %}
    {% for page in page_obj.pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <span class="page-item active">{{ page }}</span>
            {% else %}
                <a href="?{{ page.querystring }}" class="page-item">{{ page }}</a>
            {% endifequal %}
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?{{ page_obj.next_page_number.querystring }}" class="page-item active">{% trans "next" %} &rsaquo;&rsaquo;</a>
    {% else %}
        <span class="page-item disabled">{% trans "next" %} &rsaquo;&rsaquo;</span>
    {% endif %}
</div>